@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}
@font-face {
  font-family: "Regra";
  src: url("/fonts/Regra.ttf") format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Mona Sans", sans-serif;
}
* {
  box-sizing: border-box;
}

h2{
    font-family: "Modern Negra", serif;
  }
h1, h3, h4, h5, h6{
    font-family: "Regra", serif;
  }
